.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 239px;
    height: 400px;
    box-shadow: 2px 3px 3px lightgrey;
}

.picture {
    display: block;
    width: 100%;
    height: 350px;
    margin: 0;
    border: 1px solid lightgrey;
    border-bottom: 0;
}

.title {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0 0 0;
}